
#container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#innerCont{
  background-color: black;
  padding: 20px;
  border: none;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}


.hm{

  
  transform: rotate(90deg) scaleX(-1);
  border-radius: 15px;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-right: 200px;
}

.hm:hover{
  filter: brightness(50%);
}

.hmm{
  transform: rotate(270deg);
  border-radius: 15px;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 200px;
}
